{% load contact_extras %}

{% for contact in contact_list %}
    <li><a href="{% url 'contact:detail' contact.id %}">{{ contact.firstname|ucfirst }} {{ contact.lastname|ucfirst }}</a></li>
{% endfor %}
