{% extends 'contact/base.html' %}

{% load static %}

{% load i18n %}

{% block content %}

    <h1>{% trans 'Contacts' %} <a href="{% url 'contact:add_contact' %}">+</a></h1>

    <form id="search-contact-form" method="get", action="{% url 'contact:search' %}">
        <input type="text" name="text" id="search-input" placeholder="Search...">
    </form>

    {% if contact_list %}
        <ul id="contact-list">
            {% include "contact/contact-list.html" %}
        </ul>
    {% else %}
        <p>{% trans 'Aucun contact.' %}</p>
    {% endif %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'contact/js/app.min.js' %}"></script>
{% endblock %}